{{rudiment.name}}

<!-- <div class="row">
    <div class="col-lg-12">
        <h5>
            <a href='' (click)="toggleProgress(arrow, progressList)">
                <span class="fa fa-caret-right" #arrow></span> {{rudiment.name}}</a>
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" #progressList>
        <p *ngIf="rudiment != null && rudiment.progress.length === 0">No progress tracked yet</p>
        <ul *ngIf="rudiment != null && rudiment.progress.length > 0">
            <li *ngFor="let p of rudiment.progress"><app-progress></app-progress></li>
            <app-progress *ngFor="let p of rudiment.progress" [progress]="p"></app-progress>
        </ul>
    </div>
</div> -->