<div class='row'>
    <div class="col-lg-8">
        <h2>Welcome to my DrumApp!</h2>
        <p>
          This webapp lets you use a metronome to record your progress for various rudiments (more to be added). Simply set your metronome's
          tempo (a.t.m. only in 4/4) and desired soundtype and select a rudiment to record progress for. Drum's the word!
        </p>
      </div>
  <div class="col-lg-4">
    <div *ngIf='errorMsg' class="alert alert-danger">{{errorMsg}}</div>
    <form [formGroup]='user' (ngSubmit)='onSubmit()' class="form">
      <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="username" formControlName='username'>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" formControlName='password'>
      </div>
      <button type='submit' [disabled]='!user.valid' class="btn btn-success" id='loginbtn'>Log in</button>
    </form>
    <a class='item' routerLink="/register">Register</a>
  </div>
</div>